recursive-include cstatn/etc *
recursive-include cstatn/gui/ui *.ui
recursive-include cstatn/style *.css
recursive-include cstatn/data *
recursive-include cstatn/resource/icons *
recursive-include cstatn/log *.log

