recursive-include programm/etc *
recursive-include programm/gui/ui *.ui
recursive-include programm/style *.css
recursive-include programm/data *
recursive-include programm/resource/icons *
recursive-include programm/log *.log

